body {
  font-family: 'Montserrat', sans-serif;
}

table, th, td {
 border-collapse: collapse;
  border: 1px solid black;
}

td {
  text-align: left;
  padding: 15px;
}

td.leftside {
  text-align: right;
  font-weight: bold;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(102,1,102);
}

a:active {
  color: red;
}

.welcome{
  line-height: 200px;
  height: 200px;
  text-align: center;
  color: black;
}
#h2{
    font-size: x-large;
}
#button1{
    background-color: #e7e7e7;
    color:black;
    padding: 24px 12px;
    border: 2px solid #555555;
    transition-duration: 0.4s;
}
#button1:hover{
    background-color: rgb(63,63,63);
}

.content{
    text-align: center;
    padding: 1cm ;
    border-color: black;
    height: 200px;

}
.inputMain{
    text-align:center;
    font-size: x-large;
}