



{% block content %}
<html>
<head>
    <title>DnD Randomizer</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/jpg" href="../static/axeDude.svg" >
    <link rel="stylesheet" href="../static/welcomeCSS.css">
</head>
<body> 
    <div id="dice">
        <img src="../static/diceSVG.svg" alt="dodecahedron die" ></img>
    </div>  
    <div id="main" >
        <h1><b>Welcome to the DnD Randomizer</b></h1>
        <h3>To Start Randomizing Press the Button Below</h3>

    <div id="form">
    <form id="login" action= "GET" href=index>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="submit">
    </form>
    </div>
    <a href="loginPage.html" id="loginLink">Click here to sign-up</button></a><br>
    <a href=index><button name="button">Continue as guest</button></a></p>
    </div>
    <div id= dragon>
        <img src="../static/SlayingTheDragon.svg" alt="man standing on dragon" ></img>
    </div>
</body>

</html>

{% endblock %}